<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="form" (submit)="submit()">

        <div class="card">
          <div class="card-header text-white bg-primary">Question</div>

          <div class="card-body">
            <div class="row">
              <div class="form-group col-12">
                <label>#ID</label>
                <input class="form-control" formControlName="id" type="text">
                <span class="text-danger"
                      *ngIf="form.controls['id'].touched && form.controls['id'].hasError('required')">
                  ID is required! </span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12" *ngFor="let quiz of quizFormGroup.controls; let i = index;">
              <div class="card">
                <div class="card-header text-white bg-warning">Row {{i + 1}}</div>
                <div class="card-body" formArrayName="quiz">
                  <div [formGroupName]="i" class="row">
                    <div class="form-group col-9">
                      <label>Text</label>
                      <textarea class="form-control" formControlName="text" type="text"></textarea>
                      <span class="text-danger"
                            *ngIf="getQuizFormGroup(i).controls['text'].touched && getQuizFormGroup(i).controls['text'].hasError('required')">
                      text is required! </span>
                    </div>

                    <div class="form-group col-2">
                      <label>Language</label>
                      <select class="form-control" formControlName="language" type="text">
                        <option value="none">-</option>
                        <option value="php">PHP</option>
                      </select>
                    </div>

                    <div class="form-group col-1 text-right">
                      <br>
                      <button [hidden]="quizFormGroup.length==1" class="btn btn-danger" type="button"
                              (click)="removeQuizRow(i)"> Remove
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <div class="col-12">
              <button class="btn btn-primary m-1" type="button" (click)="addQuizRow()"> Add Quiz Row</button>
              <button class="btn btn-success m-1" [disabled]="!form.valid" type="submit"> Save</button>
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-6" *ngFor="let answer of answersFormGroup.controls; let i = index;">
            <div class="card">
              <div class="card-header text-white bg-danger">Answers {{i + 1}}</div>
              <div class="card-body" formArrayName="answers">

                <div [formGroupName]="i" class="row">
                  <div class="form-group col-6">
                    <label>Correct</label>
                    <select class="form-control" formControlName="correct" type="text">
                      <option value="0">NU</option>
                      <option value="1">DA</option>
                    </select>
                  </div>
                  <div class="form-group col-6">
                    <label>Language</label>
                    <select class="form-control" formControlName="language" type="text">
                      <option value="none">-</option>
                      <option value="php">PHP</option>
                    </select>
                  </div>
                  <div class="form-group col-12">
                    <label>Answer</label>
                    <textarea class="form-control" formControlName="text" type="text"></textarea>
                  </div>
                </div>

              </div>
            </div>
            <br>
          </div>
        </div>

        <div class="margin-20">
          <div>myForm details:-</div>
          <pre>Is myForm valid?: <br>{{form.valid | json}}</pre>
          <pre>form value: <br>{{form.value | json}}</pre>
        </div>

      </form>
    </div>
  </div>
</div>
